<%- include('header') %>
<body>
    <%- include('navbar') %>
    
    <div class="container text-center error-message">
        <div class="row">
            <div class="col">
                <img width="30%" src="assets/images/shocked.svg" alt="">      
                <h1>PAGE NOT AVAILABLE</h1>
                <p>Looks like the page you are looking for cannot be found...</p>
                <a href="/" class="btn error-button">Back to Home</a>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="assets/js/bootstrap.js"></script>
</body>
</html>