<!-- Footer -->
<footer>
    <div class="container-fluid">

        <div class="row footer-top">
            <div class="col-3">
                <div class="d-flex flex-column footer-logo">
                    <img src="assets/images/Fake.png" class="img-fluid footer-image" alt="">
                    <img src="assets/images/NEWS.png" class="img-fluid footer-image" alt="">
                    <img src="assets/images/Platform News with Dummy Data.png" class="img-fluid footer-image" alt="">
                </div>
            </div>

            <div class="col-3">
                <h6>Fake News</h6>
                <ul class="list-unstyled">
                    <li>
                        <a href="/" class="text-decoration-none footer-link">Home</a>
                    </li>
                    <li>
                        <a href="pupolarPage" class="text-decoration-none footer-link">Popular</a>
                    </li>
                </ul>
            </div>
            
            <div class="col-3">
                <h6>Publisher</h6>
                <ul class="list-unstyled">
                    <li>
                        <a href="about" class="text-decoration-none footer-link">Nina</a>
                    </li>
                    <li>
                        <a href="sakinah" class="text-decoration-none footer-link">Sakinah</a>
                    </li>
                </ul>
            </div>

            <div class="col-3">
                <h6>Social Media</h6>
                <a href="facebook" class="text-decoration-none fa fa-facebook"></a>
                <a href="twitter" class=" text-decoration-none fa fa-twitter"></a>
            </div>
        </div>

        <div class="row justify-content-center footer-bottom">
            <p>&#169; Kelas Siang Kelompok 1</p>
        </div>       
    </div>
</footer>