<!--Navigation Bar-->

<nav class="navbar navbar-expand-lg">
    <a href="/" class="navbar-brand text-reset text-decoration-none">
        <div class="d-flex flex-column navbar-logo">
            <img src="assets/images/Fake.png" class="img-fluid navbar-image" alt="">
            <img src="assets/images/NEWS.png" class="img-fluid navbar-image" alt="">
        </div>
    </a>

    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
        <span class="navbar-toggler-icon" style="color:#fff;"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarMenu">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="/" class="nav-link text-decoration-none">HOME</a>
            </li>
            <li class="nav-item nav-border">
                <a href="pupolarPage" class="nav-link text-decoration-none">POPULAR</a>
            </li>
        </ul>
    </div>
</nav>

<!--/.Navigation Bar-->