<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fake News Project</title>
    <link rel="stylesheet" href="">
</head>

<header>
    <nav>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Popular</a></li>
            <li><a href="">About</a></li>
        </ul>
    </nav>
</header> -->

<%- include('header') %>


    <body>
        <!-- Bootsrap Col-Row -->
        <div class="row">
            <p>Home</p>
            <div class="col-sm-3">Kosongan</div>
            <div class="col-sm-6">Headlines</div>
            <div class="col-sm-3">Kosongan</div>
        </div>
        <p></p>
        <main>
            <!-- Bootstrap Col-Row no gutters -->
            <div class="row row-no-gutters">
                <div class="col-sm-3">Kosongan</div>
                <div class="col-sm-6">Latest News</div>
                <div class="col-sm-3">Kosongan/Aside</div>
            </div>

            <aside>
                <section>
                    <h3>Iklan</h3>
                </section>
                <section>
                    <h3>Visitor Counter</h3>
                </section>
            </aside>
        </main>
    </body>

    <%- include('footer') %>
        <!-- <footer>
    <div class="row">
        <div class="column">Logo</div>
        <div class="column">
            <ul>
                <h4>Fake News</h4>
                <p>Home</p>
                <p>Popular</p>
            </ul>
        </div>
        <div class="column">
            <ul>
                <h4>Publisher</h4>
                <p>Nina</p>
                <p>Sakinah</p>
            </ul>
        </div>
        <div class="column">
            <h4>Media Social</h4>
        </div>
    </div>
    <p>&#169; by KelasSiang 1 News Project</p>
</footer> -->